@charset "UTF-8";

@import url('twentytwelve.css');

.entry-content img {
	box-shadow: none;
}

.entry-content h1 {
	font-size: 40px;
	font-size: 1.428571429rem;
	line-height: 1.2;
	font-weight: normal;
}

.site-content {
    margin-top: 0;
}

.site-content article {
	margin-bottom: 0;
	border-bottom: none;
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
	body {
		background-color: #fff;
	}
	body .site {
		margin-top: 0;
		margin-bottom: 0;
		box-shadow: none;
	}
}